[submodule "common"]
	path = common
	url = git@github.com:carlzhang4/common.git
[submodule "qdma"]
	path = qdma
	url = git@github.com:carlzhang4/qdma.git
[submodule "hbm"]
	path = hbm
	url = git@github.com:RC4ML/chisel_hbm.git
[submodule "roce"]
	path = roce
	url = git@github.com:qqwert0/roce.git
[submodule "cmac"]
	path = cmac
	url = git@github.com:carlzhang4/cmac.git
